@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');

/* -------------- *
 * General
 * -------------- */
:root {
  --color-main: #76A9FA;
  --color-hover: #5a8dd6;
  --color-text: #383a3f;
  --color-dark: #1f2124;
  --color-gray: #677;
  --color-bg: #f3f6f9;
  --color-light: #acb4bd;
  --color-lighter: #f9f9f9;
  --color-white: #fff;
  --color-border:#e0e3e6;
}

.dark {
  --color-main: #76A9FA;
  --color-hover: #5a8dd6;
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border:#252629;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  background-color: var(--color-text);
}

a {
  text-decoration: none;
}

/* -------------- *
 * App
 * -------------- */

.container {
  color: var(--color-text);
}

.app {
  background-color: var(--color-white);
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-lighter);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.app-header h1 {
  font-size: 30px;
  color: var(--color-dark);
  padding: 0 20px;
}

.app-header button {
  font-size: 20px;
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: var(--color-lighter);
  z-index: 1000;
}

.app-header button .button-text {
  display: inline-block;
  transition: transform 0.2s ease;
}

.app-header button:hover {
  background-color: var(--color-main);
}

.app-header button:hover .button-text, .navbar-toggle:hover svg {
  transform: scale(1.05);
}

.app-header button > svg {
  fill: var(--color-dark);
  height: 25px;
  width: 25px;
}

.navbar-toggle {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.navbar-toggle {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.app-content {
  padding-top: 55px;
}

/* -------------- *
 * Members
 * -------------- */

.members-header {
  position: sticky;
  top: 55px;
  background-color: var(--color-lighter);
  width: 100%;
  padding: 10px 15px;
}

.members-title-row {
  display: flex;
  justify-content: space-between;
}

.members-title {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 600;
}

.mltc-section {
  font-size: 25px;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-gray);
}

/* -------------- *
 * Download
 * -------------- */
.download-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.download-button > svg {
  fill: var(--color-text);
}

.filter-row {
  display: flex;
  justify-content: space-between;
}

.filter-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.filter-option label {
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.filter-content > *:not(:last-child) {
  max-width: 175px;
  width: 175px;
}

.switch-container {
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
}

.members-count {
  font-size: 20px;
  color: var(--color-gray);
  white-space: nowrap;
  margin-top: 1.6rem;
}

/* -------------- *
 * Dropdown
 * -------------- */
.dropdown {
  position: relative;
  color: var(--color-white);
  flex: 1;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 14px;
  min-width: 150px;
  border: none;
}

.dropdown.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.dropdown-icon {
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
}

.dropdown-icon svg {
  width: 16px;
  height: 16px;
}

.dropdown-icon.open > svg {
  transform: rotate(180deg);
}

.dropdown-list {
  position: absolute;
  width: 100%;
  max-height: 110px;
  overflow-y: scroll;
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  margin: 0;
  z-index: 9999;
}

.dropdown-list li {
  padding: 3px;
  cursor: pointer;
}

.dropdown-list::-webkit-scrollbar {
  width: 6px;
}

.dropdown-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.dropdown-list li:hover {
  background: #f0f0f0;
}

.dropdown-multi {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

/* -------------- *
 * Search
 * -------------- */
.member-search {
  min-width: 150px;
  padding: 8px;
  border-radius: 4px;
  color: var(--color-white);
  border: none;
}

.member-search::placeholder {
  color: var(--color-white);
}

/* -------------- *
 * Add
 * -------------- */
 .floating-button {
  font-size: 48px;
  position: fixed;
  bottom: 24px;
  right: 16px;
  background: var(--color-main);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.floating-button > svg {
  fill: var(--color-bg);
}

/* -------------- *
 * Members List
 * -------------- */
.members-list {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 15px;
}

.members-list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid  var(--color-gray);
  width: 250px;
  height: 350px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.members-list-item:hover {
  background-color: var(--color-bg);
  cursor: pointer;
}

.members-list-photo {
  width: 100%;
  height: 200px;
}

.members-list-details {
  padding: 5px 10px;
}

.members-list-details > * {
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* -------------- *
 * Member Profile
 * -------------- */

.member-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text);
  padding: 10px;
}

.member h3 {
  display: flex;
  align-items: center;
  font-size: 24px;
  height: 30px;
  margin-bottom: 10px;
}

.member-header h3 svg {
  fill: var(--color-text);
  width: 32px;
  margin-right: 8px;
  cursor: pointer;
}

.member h3 button {
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 15px 30px;
}

.member-row {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

.member-half-card, .member-full-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.member-half-card {
  width: 49%;
}

.member-full-card {
  width: 98%;
}

.member-container {
  justify-content: center;
  color: var(--color-white);
  background: var(--color-gray);
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-upload {
  color: white;
  background: var(--color-main);
  border-radius: 8px;
  padding: 5px 20px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.photo-container > input {
  display: none;
}

.member-photo {
  width: 300px;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.preview-photo {
  width: 100%;
  height: 180px;
}

.edit-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.member-detail {
  display: flex;
  align-items: center;
  padding: 3px 5px;
}

.member-detail label {
  white-space: nowrap;
  width: 110px;
  padding: 5px;
}

.member-detail input, 
.member-detail select,
.schedule-container {
  flex: 1;
  padding: 5px;
}

.member-detail span {
  padding-left: 7px;
}

::-webkit-calendar-picker-indicator{
  margin-left: -25px;
  margin-right: -8px;
}

/* -------------- *
 * Modal
 * -------------- */

body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  max-height: 600px;
  overflow: hidden;
}

.modal-main {
  display: flex;
}

.modal-main > *:not(:first-child) {
  border-left: 1px solid var(--color-gray);
}

.modal-content {
  width: 70%;
  padding: 10px;
}

.modal input, .modal select {
  color: var(--color-white);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: none;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-gray);
}

.modal-buttons button {
  padding: 15px 40px;
  margin: 10px 20px;
  border: none;
  background-color: var(--color-main);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.modal-buttons button:hover {
  background-color: var(--color-hover);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.schedule-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.schedule-container input[type="checkbox"] {
  margin-right: 2px;
}

.schedule-container label {
  width: 115px;
}

.modal-tabs {
  background: var(--color-white);
  width: 30%;
  overflow-y: auto;
  scrollbar-width: none;
}

.modal-tabs button.edited {
  color: #ffbf00;
  border-color: #ffbf00;
}

.modal-tabs > * {
  margin-bottom : 10px;
}

.modal-tabs > .member-detail {
  flex-direction: column;
  justify-content: center;
}

.modal-tabs > .member-detail > label {
  width: auto;
}

.modal-tabs::-webkit-scrollbar {
  display: none;
}

.tabs-label {
  display: flex;
  align-items: center;
}

.modal-tabs button {
  color: white;
  background-color: var(--color-main);
  border: 1px solid var(--color-dark);
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.modal-tabs button:hover, .image-upload:hover {
  background-color: var(--color-hover);
}

.modal-tabs button.active {
  background-color:#2c5d9b
}

.modal-auth-heading {
  justify-content: space-between;
}

.expired {
  background-color: gray !important;
  opacity: 0.6;
}

.expired.active {
  background-color: gray !important;
  opacity: 0.8;
}

.delete-button {
  background-color: red !important;
}

.delete-button:hover {
  background-color: #b30000 !important;
}

.modal-tabs-basic {
  overflow-y: hidden;
}

@media (max-width: 835px) {
  .navbar-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 55px;
    right: 0px;
    background: var(--color-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-links.open {
    display: flex;
  }
}