@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');

/* -------------- *
 * General
 * -------------- */
:root {
  --color-main: #76A9FA;
  --color-hover: #5a8dd6;
  --color-text: #383a3f;
  --color-dark: #1f2124;
  --color-gray: #677;
  --color-bg: #f3f6f9;
  --color-light: #acb4bd;
  --color-lighter: #f9f9f9;
  --color-white: #fff;
  --color-border:#e0e3e6;
}

.dark {
  --color-main: #76A9FA;
  --color-hover: #5a8dd6;
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border:#252629;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
}

body {
  background-color: var(--color-text);
}

body::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
}

input {
  font-size: 13px;
}

.nowrap {
  white-space: nowrap;
}

input[type="checkbox"] {
  margin-right: 2px;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* -------------- *
 * App
 * -------------- */

.container {
  color: var(--color-text);
}

.app {
  background-color: var(--color-white);
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-lighter);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.app-header h1 {
  font-size: 30px;
  color: var(--color-dark);
  padding: 0 20px;
}

.app-header button {
  font-size: 20px;
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: var(--color-lighter);
  z-index: 1000;
}

.app-header button .button-text {
  display: inline-block;
  transition: transform 0.2s ease;
}

.app-header button:hover {
  background-color: var(--color-main);
}

.app-header button:hover .button-text, .navbar-toggle:hover svg {
  transform: scale(1.05);
}

.app-header button > svg {
  fill: var(--color-dark);
  height: 25px;
  width: 25px;
}

.navbar-toggle {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.navbar-toggle {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.app-content {
  padding-top: 55px;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  text-align: center;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 6px solid #ccc;
  border-top: 6px solid var(--color-main);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* -------------- *
 * Login
 * -------------- */

.login-container {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-lighter);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.login-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  color: var(--color-white);
}

.login-container input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}

.member-search::placeholder {
  color: var(--color-white);
}

.login-submit {
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: var(--color-main);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-submit:hover {
  background-color: var(--color-hover);
}

.password-field-wrapper {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.eye-open {
  width: 20px;
  height: 20px;
  margin-right: 1px;
}

.eye-close {
  width: 22px;
  height: 22px;
}

/* -------------- *
 * Home
 * -------------- */

 .home-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 1rem;
}

.home-main-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  transition: transform 0.2s ease;
  cursor: pointer;
  border-radius: 4px;
}

.home-item:hover {
  transform: scale(1.01);
  background-color: #e0e0e0;
}

.stats-container {
  text-align: center;
  justify-content: center;
}

.stats-count {
  font-size: 10rem;
  line-height: 0.8;
}

.stats-change {
  font-size: 3rem;
  line-height: 1.5;
}

.stats-mltcs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.stats-mltc {
  background: var(--color-text);
  border-radius: 4px;
  padding: 1rem;
  width: 250px;
  height: 150px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
}

.stats-mltc:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.absence-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.absence-list {
  flex: 1 1 45%;
  min-width: 235px;
}

.absence-list > h3 {
  padding: 0 5px;
}

/* -------------- *
 * Members
 * -------------- */

.page-header {
  position: sticky;
  top: 55px;
  background-color: var(--color-lighter);
  width: 100%;
  padding: 10px 15px;
  z-index: 99;
}

.page-title-row {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.page-title {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 600;
}

.section-title {
  font-size: 25px;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-gray);
}

/* -------------- *
 * Download
 * -------------- */
.download-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.download-button > svg {
  fill: var(--color-text);
}

.filter-row {
  display: flex;
  justify-content: space-between;
}

.filter-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.filter-option label {
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.filter-content > *:not(:last-child) {
  max-width: 175px;
  width: 175px;
}

.switch-container {
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
}

.members-count {
  font-size: 20px;
  color: var(--color-gray);
  white-space: nowrap;
  margin-top: 1.6rem;
}

/* -------------- *
 * Select
 * -------------- */
select {
  color: var(--color-white);
  font-size: 13px;
  min-width: 150px;
  border: none;
  border-radius: 4px;
  padding: 7px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;

  background-image: url('./assets/dropdown.svg');
  background-repeat: no-repeat;
  background-position: right 6px center;
  background-size: 20px 20px;
}

/* -------------- *
 * Search
 * -------------- */
.member-search {
  min-width: 150px;
  padding: 8px;
  border-radius: 4px;
  color: var(--color-white);
  border: none;
}

.member-search::placeholder {
  color: var(--color-white);
}

/* -------------- *
 * Add
 * -------------- */
 .add-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  fill: var(--color-dark);
 }

 .floating-button {
  font-size: 48px;
  position: fixed;
  bottom: 24px;
  right: 16px;
  background: var(--color-main);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.add-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------- *
 * Members List
 * -------------- */
.members-list {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 15px;
}

.members-list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid  var(--color-gray);
  width: 250px;
  height: 350px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.members-list-item:hover {
  background-color: var(--color-bg);
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.2s ease;
}

.members-list-photo {
  width: 100%;
  height: 200px;
}

.members-list-details {
  padding: 5px 10px;
}

.members-list-details > * {
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* -------------- *
 * Member Profile
 * -------------- */

.member h3 {
  display: flex;
  align-items: center;
  font-size: 24px;
  height: 30px;
  padding: 5px;
}

.member h3 button {
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 15px 30px;
}

.member-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 10px;
}

.half-card, .full-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.half-card h2, .full-card h2 {
  padding-left: 10px;
}

.half-card {
  width: 350px;
}

.full-card {
  width: 98%;
}

.card-container {
  justify-content: center;
  color: var(--color-white);
  background: var(--color-gray);
  padding: 15px 10px;
  border-radius: 10px;
  position: relative;
}

.card-container h3 {
  margin-bottom: 5px;
}

.photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-upload {
  color: white;
  background: var(--color-main);
  border-radius: 8px;
  padding: 5px 20px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.photo-container > input {
  display: none;
}

.member-photo {
  width: 400px;
  height: 350px;
  border-radius: 8px;
  margin-top: 20px;
}

.preview-photo {
  width: 100%;
  height: 180px;
}

.icon-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  z-index: 1;
  background: none;
  border: none;
  fill: var(--color-text);
  transition: all 0.2s ease;
}

.icon-button.dark {
  fill: var(--color-white);
}

.icon-button:hover{
  fill: var(--color-main);
  transform: scale(1.1);
}

.dropdown-icon {
  position: relative;
  top: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.dropdown-icon.open > svg {
  transform: rotate(180deg);
}

.member-detail {
  display: flex;
  align-items: center;
  padding: 3px 5px;
}

.member-detail label {
  min-width: 130px;
  width: 130px;
  padding: 5px;
}

.member-detail input,
.member-detail select,
.schedule-container {
  flex: 1;
  padding: 5px;
}

.member-detail > span {
  margin-left: 7px;
  flex: 1;
}

.member-detail-contacts {
  display: flex;
  flex-direction: column;
}

::-webkit-calendar-picker-indicator{
  margin-left: -25px;
}

.inactive-banner {
  position: sticky;
  top: 55px;
  background-color: #ffe0e0;
  color: #a00;
  text-align: center;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-bottom: 2px solid #a00;
  border-radius: 4px;
  z-index: 99;
}

/* -------------- *
 * Modal
 * -------------- */

body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal-body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 8px;
  width: 100%;
  max-width: 625px;
  overflow-y: hidden;
}

.modal-main {
  display: flex;
}

.modal-main > *:not(:first-child) {
  border-left: 1px solid var(--color-gray);
}

.modal-content {
  width: 70%;
  padding: 10px;
  max-height: 550px;
  overflow-y: auto;
  scrollbar-width: none;
}

.modal input, .modal select {
  color: var(--color-white);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: none;
}

.modal-buttons-container {
  display: flex;
  height: 70px;
  justify-content: space-between;
  border-top: 1px solid var(--color-gray);
}

.modal-button {
  padding: 15px 40px;
  margin: 10px 20px;
  border: none;
  background-color: var(--color-main);
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.modal-button:hover {
  background-color: var(--color-hover);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.schedule-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-tabs {
  width: 30%;
  max-height: 550px;
  overflow-y: auto;
  scrollbar-width: none;
}

.sticky-add-tab {
  position: sticky;
  top: 0;
  z-index: 2;
}

.tab-button.edited {
  color: #ffbf00;
  border-color: #ffbf00;
}

.modal-tabs > .member-detail {
  flex-direction: column;
  justify-content: center;
}

.modal-tabs > .member-detail > label {
  width: auto;
  text-align: center;
}

.modal-tabs::-webkit-scrollbar {
  display: none;
}

.tabs-label {
  display: flex;
  align-items: center;
}

.tab-button {
  color: white;
  background-color: var(--color-main);
  border: 1px solid var(--color-dark);
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.tab-button:hover, .image-upload:hover {
  background-color: var(--color-hover);
}

.tab-button.active {
  background-color:#2c5d9b
}

.modal-checkbox-heading {
  justify-content: space-between;
}

.modal-checkbox-heading > h3 {
  padding: 5px 0;
  white-space: nowrap;
}

.tab-button.expired {
  background-color: gray;
  opacity: 0.6;
}

.tab-button.expired.active {
  background-color: gray;
  opacity: 0.8;
}

.status-button {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-button.caution {
  background-color: #ff7f00;
}

.status-button.caution:hover {
  background-color: #e67300;;
}

.delete-button {
  background-color: red;
}

.delete-button:hover {
  background-color: #b30000;
}

.modal-tabs-basic {
  overflow-y: hidden;
}

/* -------------- *
 * Search Dropdown
 * -------------- */

.search-dropdown-container {
  display: flex;
  position: relative;
  flex-grow: 1;
}

.search-dropdown-container > input {
  flex: 1;
}

.search-dropdown {
  position: absolute;
  top: 95%;
  width: 100%;
  background: white;
  border-radius: 0 0 4px 4px;
  border: 1px solid #ccc;
  z-index: 10;
  max-height: 150px;
  overflow-y: auto;
  margin: 0;
}

.search-dropdown li {
  font-size: 13px;
  color: black;
  padding: 4px 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  transition: background-color 0.2s ease;
}

.search-dropdown li:hover {
  background-color: #f1f1f1;
}

/* -------------- *
 * Absences
 * -------------- */

.absence-list {
  padding: 0;
  margin: 0;
}

.absence-item:not(:last-child) {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

/* -------------- *
 * Files
 * -------------- */

.file-list {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.file-list::-webkit-scrollbar {
  width: 4px;
}

.file-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.file-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  min-width: 75px;
  cursor: pointer;
  padding-top: 5px;
}

.file-item:hover {
  background-color: rgba(0, 120, 215, 0.15);
  border-radius: 4px;
  transform: scale(1.03);
  transition: all 0.2s ease;
}

.file-icon {
  height: 60px;
  margin-bottom: 5px;
}

.file-name {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
}

.file-name-expired {
  color: #b30000;
}

.file-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-file-button {
  padding: 6px 12px;
  font-size: 13px;
  background-color: #f0f0f0;
  border-radius: 4px;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

.custom-file-button:disabled {
  pointer-events: none;
  background-color: gray;
}

.uploaded-file-name,
.tab-heading {
  margin: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 40px;
}

.modal-button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.file-footer {
  flex-direction: column;
  text-align: center;
}

.no-file-chosen {
  color: red;
}

.trash-can:hover {
  fill: red;
}

.file-drop {
  position: relative;
  transition: background-color 0.3s, border 0.3s;
  border: 2px dashed transparent;
  border-radius: 10px;
  overflow: hidden;
}

.file-drop.drag-over {
  background-color: #f0f8ff58;
  border-color: #2c5d9b;
}

.upload-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #2c5d9b;
  background: rgba(240, 248, 255, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 9999;
  text-align: center;
}

.upload-icon {
  width: 48px;
  height: 48px;
  fill: #2c5d9b;
  margin-bottom: 10px;
  animation: bounce 1s infinite;
}

.file-content {
  transition: opacity 0.3s;
}

.file-content.dimmed {
  opacity: 0.2;
  pointer-events: none;
}

/* -------------- *
 * Pulse
 * -------------- */

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.pulse {
  animation: pulse 1.5s ease-in-out infinite;
  animation-delay: 3s;
}

/* -------------- *
 * Tooltip
 * -------------- */

.tooltip {
  position: relative;
}

.tooltip[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-main);
  color: var(--color-dark);
  border-radius: 4px;
  padding: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9999;
}

.tooltip[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  transition-delay: 1s;
}

/* -------------- *
 * Pagination
 * -------------- */

.pagination-controls {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 0.8rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 20px;
}

.arrow-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  fill: var(--color-dark);
  width: 24px;
}

.arrow-btn:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.arrow-btn:disabled {
  opacity: 0.3;
  pointer-events: none;
}

/* -------------- *
 * Reports
 * -------------- */

.report-results {
  overflow-x: auto;
}

.report-table {
  width: 100%;
  border-collapse: collapse;
}

.report-table tr {
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}

.report-table th, .report-table td {
  padding: 15px;
  text-align: left;
}

.report-link:hover {
  color: var(--color-main);
  text-decoration: underline;
}

.report-dropdown {
  display: flex;
  gap: 10px;
}

.report-table tr.expanded {
  border-bottom: none;
}

.outline {
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.green {
  color: #00cc00;
}

.red {
  color: #ff0000;
}

.orange {
  color: #ff7f00;
}


/* -------------- *
 * Settings
 * -------------- */

.logout {
  color: red;
  cursor: pointer;
}

@media (max-width: 835px) {
  .navbar-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 55px;
    right: 0px;
    background: var(--color-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-links.open {
    display: flex;
  }
}

@media (max-width: 835px) {
  .home-grid {
    grid-template-columns: 1fr;
  }

  .home-side-panel {
    order: 2;
  }

  .home-main-panel {
    order: 1;
  }
}