@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');

/* --------------
  General
-------------- */

:root {
  --color-background: #F3F2EE;
  --color-content: #FFFFFF;
  --color-text: #191919;
  --color-text-sub: rgb(0 0 0 / .6);
  --color-border: rgb(140 140 140 / .25);

  --color-main: #6366F1;
  --color-main-light: #9699ff;
  --color-main-dark: #4F46E5;
  --color-black: #000;
  --color-white: #FFF;
  --color-gray: #808080;;
  --color-gray-light: #F1F1F1;
  --color-gray-dark: #6F6F6F;
  --color-red: #EF4444;
  --color-yellow: #EAB308;
  --color-green: #10B981;
  --color-danger: #E02E2A;
  --color-danger-hover: #911E1B;
}

.dark {
  --color-background: #0F0F0F;
  --color-content: #1D2226;
  --color-text: #E9E9E9;
  --color-text-sub: rgb(255 255 255 / .6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  overscroll-behavior: none;
}

body::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
}

input:not([type="radio"]):not([type="checkbox"]) {
  min-width: 150px;
  color: var(--color-black);
  padding: 6px;
  border-radius: 4px;
  border: 1px solid var(--color-border);
}

input[type="checkbox"], 
input[type="radio"] {
  margin-right: 5px;
  accent-color: var(--color-main);
}

input::placeholder {
  color: var(--color-black);
}

select {
  color: var(--color-black);
  font-size: 13px;
  min-width: 150px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 7px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  background-image: url('./assets/dropdown.svg');
  background-repeat: no-repeat;
  background-position: right 6px center;
  background-size: 20px 20px;
}

select:disabled {
  cursor: default;
  background-color: var(--color-gray);
}

select:invalid {
  color: var(--color-black);
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

::-webkit-calendar-picker-indicator{
  margin-left: -25px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.radio-group label {
  color: var(--color-text) !important;
}

.nowrap {
  white-space: nowrap;
}

.outline {
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.green {
  color: var(--color-green);
}

.red {
  color: var(--color-red);
}

.yellow {
  color: var(--color-yellow);
}

/* --------------
  App
-------------- */

.container {
  color: var(--color-text);
  background-color: var(--color-background);
  min-height: 100svh;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-content);
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.app-header h1 {
  color: var(--color-main);
  padding-left: 20px;
  margin-left: 5%;
}

.app-header > span {
  margin-right: 5%;
}

.navbar-toggle,
.nav-links button {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 15px;
  color: var(--color-text);
  background-color: var(--color-content);
  z-index: 1000;
  transition: transform 0.2s ease;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle svg {
  fill: var(--color-text);
  height: 25px;
  width: 25px;
}

.navbar-toggle:hover {
  background-color: var(--color-main);
  transform: scale(1.05);
}

.navbar-toggle:hover svg {
  fill: var(--color-white);
}

.nav-links button:hover {
  background-color: var(--color-main);
  color: var(--color-white);
  transform: scale(1.05);
}

.app-content {
  padding-top: 55px;
}

/* --------------
  Loader
-------------- */

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  text-align: center;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 6px solid var(--color-border);
  border-top: 6px solid var(--color-main);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* --------------
  Login
-------------- */

.login-container {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-content);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--color-border);
}

.login-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  color: var(--color-background)
}

.login-container h1 {
  color: var(--color-main);
}

.login-container input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}

.login-submit {
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: var(--color-main);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-submit:hover {
  background-color: var(--color-main-dark);
}

.password-field-wrapper {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}

.password-toggle:hover {
  fill: var(--color-main);
}

.eye-open {
  width: 20px;
  height: 20px;
  margin-right: 1px;
}

.eye-close {
  width: 22px;
  height: 22px;
}

/* --------------
  Content
-------------- */

.content-padding {
  padding: 2% 5%;
}

.page-header {
  position: sticky;
  top: 55px;
  background-color: var(--color-content);
  width: 100%;
  z-index: 99;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-border);
}

.page-header > * {
  margin-left: 5%;
  margin-right: 5%;
}

.page-title-row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.page-title {
  color: var(--color-text-sub);
  font-size: 24px;
  font-weight: 600;
}

.section-title {
  font-size: 25px;
  padding-left: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-border);
}

.card-container {
  justify-content: center;
  color: var(--color-text);
  background: var(--color-content);
  padding: 15px 10px;
  border-radius: 10px;
  position: relative;
  border: 1px solid var(--color-border);
}

.card-container h3 {
  margin-bottom: 5px;
}

.card-half,
.card-full,
.card-400 {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-half h2, 
.card-full h2,
.card-400 h2 {
  padding-left: 10px;
}

.card-400 {
  width: 400px;
}

.card-half {
  width: 50%;
}

.card-full {
  width: 100%;
}

/* --------------
  Buttons
-------------- */

.icon-button {
  cursor: pointer;
  width: 28px;
  height: 28px;
  z-index: 1;
  background: none;
  border: none;
  fill: var(--color-text-sub);
  transition: all 0.2s ease;
}

.icon-button:hover{
  fill: var(--color-main);
  transform: scale(1.05);
}

.icon-button.absolute {
    position: absolute;
  top: 10px;
  right: 10px;
}

.dropdown-icon {
  position: relative;
  top: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.dropdown-icon.open > svg {
  transform: rotate(180deg);
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  font-size: 15px;
  padding: 15px 20px;
  margin: 10px 20px;
  border: none;
  background-color: var(--color-main);
  color: var(--color-white);
  cursor: pointer;
  border-radius: 8px;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
}

.action-button.thin {
  padding: 5px 0;
  margin: 5px 0;
}

.action-button:disabled {
  opacity: 0.3;
  pointer-events: none;
  background-color: var(--color-gray);
}

.action-button:hover {
  background-color: var(--color-main-dark);
}

.action-button.destructive {
  background-color: var(--color-danger);
}

.action-button.destructive:hover {
  background-color: var(--color-danger-hover);
}

/* --------------
  Home
-------------- */

.home-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.home-content > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 4px;
  gap: 1rem;
}

.home-item-primary,
.home-item-secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-item-secondary {
  align-items: flex-end;
}

.home-item-primary p:last-child:not(:first-child),
.home-item-secondary p:last-child:not(:first-child) {
  color: var(--color-text-sub);
}

.home-item:hover{
  transform: scale(1.01);
  color: var(--color-white);
  background-color: var(--color-main)
}

.home-item:hover .home-item-primary p:last-child,
.home-item:hover .home-item-secondary p:last-child {
  color: var(--color-white);
}

.stats-container {
  text-align: center;
  justify-content: center;
}

.stats-count {
  font-size: 10rem;
  line-height: 0.8;
}

.stats-change {
  font-size: 3rem;
  line-height: 1.5;
}

.stats-mltcs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.stats-mltc {
  background: var(--color-content);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 1rem;
  width: 250px;
  height: 150px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
}

.stats-mltc:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.absence-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.absence-list {
  flex: 1 1 45%;
  min-width: 235px;
}

.absence-list > h3 {
  padding: 0 5px;
  color: var(--color-text-sub)
}

.audit-group {
  margin-bottom: 20px;
}

.audit-group > h3 {
  color: var(--color-text-sub)
}

/* --------------
  Filter Row
-------------- */

.filter-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.filter-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.filter-option label {
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.filter-content > *:not(:last-child) {
  max-width: 175px;
  width: 175px;
}

.switch-container {
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
}

.members-count {
  font-size: 20px;
  color: var(--color-text-sub);
  white-space: nowrap;
  margin-top: 1.6rem;
}

/* --------------
  Floating Button
-------------- */

 .add-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  fill: var(--color-white);
}

.floating-button {
  font-size: 48px;
  position: fixed;
  bottom: 30px;
  right: 60px;
  background: var(--color-main);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.floating-button:hover {
  background-color: var(--color-main-dark);
}

/* --------------
  Search Dropdown
-------------- */

.search-dropdown-container {
  display: flex;
  position: relative;
  flex: 1 1;
  min-width: 0;
}

.search-dropdown {
  position: absolute;
  top: 95%;
  width: 100%;
  background: var(--color-white);
  border-radius: 0 0 4px 4px;
  z-index: 10;
  max-height: 150px;
  overflow-y: auto;
  margin: 0;
}

.search-dropdown li {
  font-size: 13px;
  color: var(--color-black);
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search-dropdown li:hover {
  background-color: var(--color-gray-light);
}

/* --------------
  Members List
-------------- */

.members-list {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 15px;
}

.members-list-content > * {
  background-color: var(--color-content);
  border-radius: 8px;
  padding: 20px;
  border: 1px solid var(--color-border);
}

.members-list-content > *:not(:last-child) {
  margin-bottom: 1rem;
}

.members-list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid  var(--color-border);
  border-radius: 8px;
  background: var(--color-content);
  width: 250px;
  height: 350px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.members-list-item:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.2s ease;
}

.members-list-photo {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid  var(--color-border);
}

.members-list-details {
  padding: 5px 10px;
}

.members-list-details p {
  color: var(--color-text-sub);
}

.members-list-details > * {
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* --------------
  Member
-------------- */

.member h3 {
  display: flex;
  align-items: center;
  font-size: 24px;
  height: 30px;
  padding: 5px;
}

.member-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-container > label {
  padding: 5px 20px;
}

.photo-container > input {
  display: none;
}

.photo-container > h2 {
  color: var(--color-text-sub);
}

.member-photo {
  width: 400px;
  height: 350px;
  border-radius: 8px;
  margin-top: 20px;
  border: 1px solid var(--color-border);
}

.preview-photo {
  width: 100%;
  height: 180px;
}

.member-detail {
  display: flex;
  padding: 3px 5px;
}

.member-detail label {
  width: 150px;
  color: var(--color-text-sub);
  align-items: center;
}

.member-detail span {
  display: flex;
  align-items: center;
}

.member-detail input,
.member-detail select {
  flex: 1;
}

.member-detail-contacts {
  display: flex;
  flex-direction: column;
  align-items: start !important;
}

.member-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.member-box-label {
  position: absolute;
  top: 5px;
  padding: 0 5px;
  color: var(--color-text-sub);
  background-color: var(--color-content);
}

.member-box-tab {
  color: var(--color-black);
  border: none;
  width: 100px;
  padding: 2px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.member-box-tab.active {
  color: var(--color-white);
  background-color: var(--color-main);
}

.member-box-tab:hover {
  color: var(--color-white);
  background-color: var(--color-main-dark);
}

.member-box-tab:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.member-box-tab:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.member-box-tab[disabled] {
  cursor: default;
  color: var(--color-black);
  background-color: var(--color-gray);
}

.member-box-tab[disabled]:hover {
  background-color: var(--color-gray);
}

.modal-content .member-box {
  padding-top: 20px;
}

.modal-content .member-box-label {
  top: 10px;
}

.modal-content .member-box-list {
  padding-top: 15px;
}

.member-box-list {
  display: flex;
  justify-content: center;
  padding: 10px 5px;
  width: 100%;
  border: 1px solid var(--color-border);
}

.inactive-banner {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  background-color: #ffe0e0;
  color: var(--color-danger);
  text-align: center;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--color-danger);
  border-radius: 4px;
  z-index: 99;
  text-transform: uppercase;
}

.absence-item:not(:last-child) {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-border);
}

/* --------------
  Modal
-------------- */

body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal-body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-content);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  width: 100%;
  max-width: 625px;
  overflow-y: hidden;
}

.modal-main {
  display: flex;
}

.modal-main > *:not(:first-child) {
  border-left: 1px solid var(--color-border);
}

.modal-content {
  width: 70%;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: none;
}

.modal-buttons-container {
  display: flex;
  height: 70px;
  justify-content: space-between;
  border-top: 1px solid var(--color-border);
}

.modal-header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--color-content);
  z-index: 10;
}

.modal-checkbox-heading > h3 {
  white-space: nowrap;
}

.schedule-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  gap: 5px;
}

.schedule-container label:nth-child(7) {
  grid-column: span 2;
  justify-self: center;
}

.schedule-container > label {
  width: auto;
}

.dx-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.dx-container span {
  cursor: pointer;
  align-self: flex-start;
}

.dx-container span:hover {
  color: var(--color-main);
  text-decoration: underline;
}

.codes-container { 
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.codes-container > * {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.codes-container > :last-child {
  margin-bottom: 5px;
}

.codes-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  font-size: 15px;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-danger);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.codes-container button:hover {
  background-color: var(--color-danger-hover);
}

/* --------------
  Modal Tabs
-------------- */

.modal-tabs {
  width: 30%;
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: none;
}

.member-detail.stack {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 5px;
}

.member-detail.stack label {
  padding-bottom: 3px;
}

.tab-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--color-main);
  border: 1px solid var(--color-border);
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 100%;
  height: 50px;
  white-space: nowrap;
}

.tab-button.sticky {
  position: sticky;
  top: 0;
  z-index: 90;
}

.tab-button:hover {
  background-color: var(--color-main-dark);
}

.tab-button.active {
  background-color: var(--color-main-dark)
}

.tab-button.expired {
  background-color: var(--color-gray-dark);
  opacity: 0.6;
}

.tab-button.edited {
  color: var(--color-yellow);
  border-color: var(--color-yellow);
}

.tab-button.expired.active {
  background-color: var(--color-gray);
  opacity: 0.8;
}

.tab-heading,
.uploaded-file-name {
  margin: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* --------------
  Files
-------------- */

.file-list {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.file-list::-webkit-scrollbar {
  width: 4px;
}

.file-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.file-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  min-width: 75px;
  cursor: pointer;
  padding-top: 5px;
}

.file-item:hover {
  background-color: rgba(0, 120, 215, 0.15);
  border-radius: 4px;
  transform: scale(1.03);
  transition: all 0.2s ease;
}

.file-icon {
  height: 60px;
  margin-bottom: 5px;
  fill: var(--color-text)
}

.file-name {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
}

.file-expired {
  color: var(--color-red);
}

.file-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-footer {
  display: flex;
  justify-content: center;
}

.file-drop {
  position: relative;
  transition: background-color 0.3s, border 0.3s;
  border: 2px dashed transparent;
  border-radius: 10px;
  overflow: hidden;
}

.file-drop.drag-over {
  background-color: var(--color-gray-light);
  border-color: var(--color-main);
}

.upload-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-main);
  background: rgba(240, 248, 255, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 9999;
  text-align: center;
}

.upload-icon {
  width: 48px;
  height: 48px;
  fill: var(--color-main);
  margin-bottom: 10px;
  animation: bounce 1s infinite;
}

.file-content {
  transition: opacity 0.3s;
}

.file-content.dimmed {
  opacity: 0.2;
  pointer-events: none;
}

/* --------------
  Pulse
-------------- */

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.pulse {
  animation: pulse 1.5s ease-in-out infinite;
  animation-delay: 3s;
}

/* --------------
  Tooltip
-------------- */

.tooltip {
  position: relative;
}

.tooltip[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-main);
  color: var(--color-white);
  border-radius: 4px;
  padding: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9999;
}

.tooltip[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  transition-delay: 1s;
}

/* --------------
  Pagination
-------------- */

.pagination-controls {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 0.8rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 20px;
}

.pagination-page {
  padding: 4px !important;
  border-radius: 4px;
  border: 1px solid var(--color-border) !important;
  text-align: center;
  min-width: 35px !important;
  margin-right: 5px;
  font-size: 20px;
}

.arrow-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  fill: var(--color-text);
  width: 24px;
}

.arrow-btn:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.arrow-btn:disabled {
  opacity: 0.3;
  pointer-events: none;
}

/* --------------
  Reports
-------------- */

.reports-content {
  overflow-x: auto;
  overscroll-behavior: auto;
}

.report-table {
  width: 100%;
  border-collapse: collapse;
}

.report-table tr {
  font-size: 22px;
  border-bottom: 1px solid var(--color-border);
}

.report-table th, .report-table td {
  padding: 15px;
  text-align: left;
  background-color: var(--color-content);
}

.report-table th {
  padding-top: 0;
  background-color: var(--color-background);
}

.report-table tbody {
  border: 1px solid var(--color-border);
}

.report-link:hover {
  color: var(--color-main);
  text-decoration: underline;
}

.report-dropdown {
  display: flex;
  gap: 10px;
}

.report-table tr.expanded {
  border-bottom: none;
}

.report-table tr.expanded td {
  padding-bottom: 5px;
}

.report-table tr.expanded + tr td {
  padding-top: 5px;
}

/* --------------
  Settings
-------------- */

.settings-body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.settings-nav {
  position: sticky;
  top: 100px;
  width: 25%;
  background-color: var(--color-content);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--color-border);
}

.settings-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 0.5rem;
  border-radius: 8px;
  transition: all 0.2s ease
}

.settings-item.nav {
  font-size: 25px;
  padding: 10px;
}

.settings-item > span {
  transition: transform 0.2s ease;
}

.settings-item.clickable {
  cursor: pointer;
}

.settings-item.clickable:hover > span {
  transform: scale(1.05);
}

.settings-item svg {
  width: 30px;
  height: 30px;
  fill: var(--color-text-sub);
}

.settings-item.active {
  color: var(--color-white);
  background-color: var(--color-main);
}

.settings-item.active svg {
  fill: var(--color-white);
}

.settings-content {
  width: 72.5%;
  border-radius: 8px;
  padding: 1rem;
  background-color: var(--color-content);
  border: 1px solid var(--color-border);
}

.section-main {
  padding: 10px;
}

@media (max-width: 835px) {
  .app-header > span {
    margin-right: 0;
  }

  .navbar-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 55px;
    right: 0px;
    background: var(--color-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-links.open {
    display: flex;
  }

  .home-content {
    grid-template-columns: 1fr;
  }

  .home-side-panel {
    order: 2;
  }

  .home-main-panel {
    order: 1;
  }
}