<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818788788783-rgdagr807hi4esvadcc7mac0iaciuaq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818788788783-rgdagr807hi4esvadcc7mac0iaciuaq9</string>
	<key>API_KEY</key>
	<string>AIzaSyDlCAjDQKu2MyVKhFAvTkAoCqP5dBfln7k</string>
	<key>GCM_SENDER_ID</key>
	<string>818788788783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bachi.seniorconnect</string>
	<key>PROJECT_ID</key>
	<string>seniorconnect-79226</string>
	<key>STORAGE_BUCKET</key>
	<string>seniorconnect-79226.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818788788783:ios:60d16b8254cac6d0e634da</string>
</dict>
</plist>